# Getting Started with Influx and Pandas
## This is a simple tutorial to get you querying Influx, converting your time series data into a DataFrame, and converting your dataframe back into line protocol using the [Influx Python Client Library](https://github.com/influxdata/influxdb-client-python).

### ASSUMPTIONS: you have already configured telegraf to gather system stats on your machine.

### STEP ONE: import dependencies

In [1]:
import os
import sys
sys.path.insert(0, os.path.abspath('/'))
from influxdb_client import InfluxDBClient
import pandas as pd

### STEP TWO: Supply auth parameteres

In [2]:
my_token = my_token
my_org = "my-org"
bucket = "system"

### STEP THREE: Write your flux query

In [3]:
query='''
from(bucket: "system")
  |> range(start:-5m, stop: now())
  |> filter(fn: (r) => r._measurement == "cpu")
  |> filter(fn: (r) => r._field == "usage_user")
  |> filter(fn: (r) => r.cpu == "cpu-total")
'''

### STEP FOUR: read data from InfluxDB 2.0

In [4]:
client = InfluxDBClient(url="http://localhost:9999", token=my_token, org=my_org, debug=False)

system_stats = client.query_api().query_data_frame(org=my_org, query=query)
display(system_stats.head())

,result,table,_start,_stop,_time,_value,_field,_measurement,cpu,host
0,_result,0,2019-12-10 01:00:36.266069+00:00,2019-12-10 01:05:36.266069+00:00,2019-12-10 01:00:40+00:00,4.522739,usage_user,cpu,cpu-total,Anais.local
1,_result,0,2019-12-10 01:00:36.266069+00:00,2019-12-10 01:05:36.266069+00:00,2019-12-10 01:00:50+00:00,5.225653,usage_user,cpu,cpu-total,Anais.local
2,_result,0,2019-12-10 01:00:36.266069+00:00,2019-12-10 01:05:36.266069+00:00,2019-12-10 01:01:00+00:00,7.150000,usage_user,cpu,cpu-total,Anais.local
3,_result,0,2019-12-10 01:00:36.266069+00:00,2019-12-10 01:05:36.266069+00:00,2019-12-10 01:01:10+00:00,5.951488,usage_user,cpu,cpu-total,Anais.local
4,_result,0,2019-12-10 01:00:36.266069+00:00,2019-12-10 01:05:36.266069+00:00,2019-12-10 01:01:20+00:00,9.301163,usage_user,cpu,cpu-total,Anais.local